body {
    background-color: black;
}

h1 {
    background-image: url("洧냣洧녩洧노洧노洧녳洧뉧롐럻롐洧놂洧눓洧눑洧눅洧눍洧눒洧눖.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 300px;
}

/* .gojo {
    color: white;
    background-image: url("洧냣洧녩洧노洧노洧녳洧뉧롐럻롐洧놂洧눓洧눑洧눅洧눍洧눒洧눖.jpeg");
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    background-color: black;
} */